button.buy {
	background: url('../images/cupcake.svg') 2.3em 0em,
				linear-gradient(to bottom, rgba(255,255,255,0.75) 0%, rgba(248,248,248,0) 40%),
				linear-gradient(to bottom, rgba(0,116,179,0) 60%, rgba(117,224,247,0.75) 100%),
				linear-gradient(to bottom, rgba(0,39,157,1) 0%, rgba(0,181,253,1) 100%);
	background-size: contain;
	background-repeat: no-repeat;
	/*background-position: 3em 0px;*/
	border-style: groove;
    color: white;
	text-shadow: -0.06em -0.06em 0 #026ca6,
				 0.06em -0.06em 0 #026ca6,
				 -0.06em 0.06em 0 #026ca6,
				 0.06em 0.06em 0 #026ca6;
	border-radius: 0.2em;
	border-color: rgb(117,224,247);
	font-family: "Eras Demi ITC";
	font-size: 1em;
}
button.buy:active {
	background: url('../images/cupcake.svg') 2.3em 0em,
				linear-gradient(to top, rgba(255,255,255,0.75) 0%, rgba(248,248,248,0) 40%),
				linear-gradient(to top, rgba(0,116,179,0) 60%, rgba(117,224,247,0.75) 100%),
				linear-gradient(to top, rgba(0,39,157,1) 0%, rgba(0,181,253,1) 100%);
	background-size: contain;
	background-repeat: no-repeat;
}
button.buy[disabled] {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
				url('../images/cupcake.svg') 2.3em 0em,
				linear-gradient(to bottom, rgba(255,255,255,0.75) 0%, rgba(248,248,248,0) 40%),
				linear-gradient(to bottom, rgba(0,116,179,0) 60%, rgba(117,224,247,0.75) 100%),
				linear-gradient(to bottom, rgba(0,39,157,1) 0%, rgba(0,181,253,1) 100%);
	background-size: contain;
	background-repeat: no-repeat;
	color: #ccc;
}

input[type="checkbox"] {
	/*position:relative;
	opacity: 0;*/
	width: 1.25em;
	height: 1.25em;
}

input[type="checkbox"].bh:after {
	background: url('../images/checkbox/u.svg');
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
}

input[type="checkbox"].bh:checked:after {
	background: url('../images/checkbox/c.svg');
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
}

input[type="checkbox"].bh:hover:after {
	background: url('../images/checkbox/u_m.svg');
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
}

input[type="checkbox"].bh:hover:checked:after {
	background: url('../images/checkbox/c_m.svg');
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
}


button.bh {
	background: linear-gradient(to bottom, rgba(255,255,255,0.75) 0%, rgba(248,248,248,0) 40%),
				linear-gradient(to bottom, rgba(0,116,179,0) 60%, rgba(117,224,247,0.75) 100%),
				linear-gradient(to bottom, rgba(0,39,157,1) 0%, rgba(0,181,253,1) 100%);
	border-style: groove;
    color: white;
	text-shadow: -0.06em -0.06em 0 #026ca6,
				 0.06em -0.06em 0 #026ca6,
				 -0.06em 0.06em 0 #026ca6,
				 0.06em 0.06em 0 #026ca6;
	border-radius: 0.2em;
	border-color: rgb(117,224,247);
	font-family: "Eras Demi ITC";
	font-size: 1em;
}
button.bh:active {
	background: linear-gradient(to top, rgba(255,255,255,0.75) 0%, rgba(248,248,248,0) 40%),
				linear-gradient(to top, rgba(0,116,179,0) 60%, rgba(117,224,247,0.75) 100%),
				linear-gradient(to top, rgba(0,39,157,1) 0%, rgba(0,181,253,1) 100%);
}
button.bh[disabled] {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
				linear-gradient(to bottom, rgba(255,255,255,0.75) 0%, rgba(248,248,248,0) 40%),
				linear-gradient(to bottom, rgba(0,116,179,0) 60%, rgba(117,224,247,0.75) 100%),
				linear-gradient(to bottom, rgba(0,39,157,1) 0%, rgba(0,181,253,1) 100%);
	color: #ccc;
}
