* { box-sizing: border-box}

@font-face {
	font-family: "Eras Demi ITC";
	src: url("../Eras_Demi_ITC.ttf");
}

html, body {
	height: 100%;
}
body {
	background-image: url("../images/background.jpg");
	background-size: 100% 100%;
	background-repeat: repeat-x;
	margin: 0;
	font-family: "Eras Demi ITC";
	
	display: flex;
	flex-direction: column;
	
	font-size: .85em;
}

#container {
	width: 80%;
	/*min-width: 80em;*/
	max-width: 90em;
	margin: 0 auto;
	flex: 1;
	
	display: flex;
	flex-direction: column;
}

#padding {
	height: 1em;
}

#title {
	padding-left: 2.4em;
	background-image: url("../images/head.png");
	background-repeat: no-repeat;
	color: white;
	font-size: 4em;
	text-shadow: 0px 0px 0.4em #222222;
	white-space: nowrap;
	margin-top: .33em;
	margin-bottom: .33em;
	min-height: 101px;
}
#controls {
	display: inline-block;
	float: right;
	font-size: 1.7em;
	margin-top: 0.5em;
}
#controls > * {
	vertical-align: middle;
}

#panels {
	flex: 1;
	margin-bottom: 1em;
	height: 100%;
}

#store {
	float: left;
	width: 42%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
#righthalf {
	float: right;
	width: 58%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
#tabs {
	font-size: 1.5em;
	color: white;
	padding-top: .3em;
	padding-left: 1em;
	z-index: 1;
	cursor: default;
}
#tabs span {
	border-left: .3em ridge;
	border-top: .3em ridge;
	border-right: .3em groove;
	border-top-right-radius: .4em;
	border-top-left-radius: .4em;
	border-color: #89d0f5;
	
	background-color: #343839;
	padding-bottom: .1em;
}
#tabs span.active {
	padding-bottom: .3em;
}
#cupcake_number {
	background-color: rgba(52, 56, 57, 0.7);
	width: 90%;
	margin: 0 auto;
	flex: 0 0 0;
	text-align: center;
	color: white;
	font-size: 2.5em;
	padding-top: 0.5em;
	padding-bottom: 1.5em;
}
#items {
	flex: 1;
	background-color: #343839;
	border-radius: 1em;
	border-left: .3em ridge;
	border-top: .3em ridge;
	border-right: .3em groove;
	border-bottom: .3em groove;
	border-color: #89d0f5;
	padding: 0.35em;
}

#cupcake {
	display: block;
	flex: 3 1 0;
	padding-top: 10%;
	padding-bottom: 10%;
	min-height: 150px;
}

#cimage:hover > #ctop {
	fill: #ff0;
}

#cimage {
	cursor: pointer;
}

#caption {
	flex: 2.5 1 0;
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-image: url("../images/body.png");
	background-position: left center;
	display: flex;
	max-height: 28em;
}
#cimage {
	height: 100%;
	flex-shrink: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#tooltip {
	background-color: #006;
	border-radius: 0.5em;
	color: white;
	padding: 1em;
	font-size: 2.5em;
	width: 100%;
}

#savepicker {
	display: none;
}

#templates {
	display: none;
}

.storeitem > div > .storename {
	float: left;
	font-size: 1.3em;
}

.storeitem > div >  .storenumber {
	float: right;
}
.storeitem > div > .clear {
	clear: both;
}
.storeitem > div >  button {
	float: left;
}

.storeitem > div >  progress {
	float: right;
	-webkit-appearance: none;
	height: 1.3em;
}
.storeitem > div > progress::-webkit-progress-value {
	background: linear-gradient(to bottom, rgba(255,255,255,.65) 0%, rgba(255,255,255,.2) 33%, rgba(255,255,255,0) 33%),
				linear-gradient(to bottom, rgba(40,208,249,1) 0%, rgba(40,208,249,1) 50%, rgba(15,75,142,1) 96%, rgba(40,208,249,1) 96%);
	border-top-left-radius: 0.1em;
	border-bottom-left-radius: 0.1em;
}
.storeitem > div > progress::-webkit-progress-bar {
	background: linear-gradient(to bottom, rgba(255,255,255,.65) 0%, rgba(255,255,255,.2) 33%, rgba(255,255,255,0) 33%),
				#000033;
	border-radius: 0.1em;
}
.storeitem > div >  progress:before {
	display: block;
	text-align: center;
	content: attr(data-text);
	float: left;
	width: 100%;
	color: white;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.storeitem, .upgradeitem {
	display: flex;
	flex-direction: row;
	background-color: #dddd44;
	font-size: 1.5em;
	margin: 0.2em 0;
	padding: 0.2em;
}
.storeitem > div, .upgradeitem > div {
	flex: 1;
}
.upgradeitem > * {
	font-size: 1.3em;
}

.upgradeitem .upgrades > div {
	width: 1em;
	height: 1em;
	display: inline-block;
	background-image: url("../images/nocheck.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}

.upgradeitem .upgrades > div.checked {
	background-image: url("../images/check.svg");
}

.upgradeitem .upgrades > div.disabled {
	opacity: 0.7;
}

#settings {
	position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: beige;
    padding: 1em;
    font-size: 1.5em;
	border: 0.1em solid black;
	text-align: center;
}

#settings > * {
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}